@model ToDoList.Models.ToDoItem

@{
    ViewData["Title"] = "Delete Task";
}

<h1>Изтри задача</h1>

<div>
    <h4>Сигорни ли сте че искате да изтрите тази задача?</h4>
    <div>
        <strong>Заглавие:</strong> @Model.Title
    </div>
    <div>
        <strong>Завършена:</strong> @Model.IsCompleted
    </div>
    <div>
        <strong>Категория:</strong> @Model.Category?.Name
    </div>

    <div>
        <strong>Дата:</strong> @Model.DueDate.ToString("yyyy-MM-dd")
    </div>
    <div>
        <strong>Бележки:</strong> @Model.Notes
    </div>

</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ToDoItemId" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>
