@model IEnumerable<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Задачи</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нова задача</a>
</p>
@Html.AntiForgeryToken()


<table class="table table-striped">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Завършена</th>
            <th>Категория</th>
            <th>Дата</th>
            <th>Бележки</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.IsCompleted</td>
                <td>@item.Category?.Name</td>
                <td>@item.DueDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Notes</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ToDoItemId" class="btn btn-warning btn-sm">Редактирай</a>
                    <a asp-action="Delete" asp-route-id="@item.ToDoItemId" class="btn btn-danger btn-sm">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>


